
@if (title && message) {
<div class="modal-header" [class.bg-success]="isSuccess" [class.bg-danger]="!isSuccess">
    <h4 class="modal-title pull-left text-white">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    @if (isHtmlEnabled) {
    <span [innerHTML]="message"></span>
    } @else {
    <span>{{message}}</span>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.dismiss('Cross click')">
        Ok
    </button>
</div>
}